.app-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .app-content {
    padding: 1rem;
  }
}
